@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Noto+Sans+Arabic:wght@400;500;600;700;800;900&display=swap');

@theme {
  --font-sans: "Inter", "Noto Sans Arabic", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply font-sans antialiased bg-black text-white;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

[dir="rtl"] {
  text-align: right;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

